body{
    background-color:black;
}

.main {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    margin: 10px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .book {
    font-size: 1.2rem;
    margin: 8px 0;
  }
  
  .author {
    font-size: 1rem;
    color: #555;
    margin: 4px 0;
  }
  
  .price {
    font-size: 1rem;
    color: green;
    margin: 8px 0;
  }
  
  .add-to-cart {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .add-to-cart:hover {
    background-color: #ffd700; /* Slightly darker yellow on hover */
  }
  

